@{
    ViewBag.Title = "Home Page";
}

<div class="Sales">
    <h1>Sales!</h1>
    <p class="lead">Buy 2 tickets and get a 10% discount!.</p>
    <p><a href="https://vk.com/masha_glbv" class="btn btn-primary btn-lg">Buy now! &raquo;</a></p>
</div>

<div class="SomeText">
    <h1>CityAirline</h1>
    <p class="lead">CityAirline is designed for comfortable and fast travel, and not only between cities.</p>
    <p><a href="https://vk.com/masha_glbv" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
